#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Playfair Display", serif;
}

body {
  background-image: url('./assets/magicalneutralbackground.jpg'); 
  background-repeat: repeat; 
  background-size: cover; 
  background-position: center; 
  height: 100vh; 
}

.jumbotron {
  font-weight: 800;
  margin: 10px;
  padding: 10px;
  text-shadow: 1px 1px 2px grey;
}

.custom-carousel-container {
  background-color: lightblue;
  border: 10px double #7b3320;
  border-radius: 5px;
  box-shadow: 10px 2px 2px goldenrod;

}

.custom-carousel {
  justify-content: center;
  margin: 0px;
  border-radius: 5px;
  padding: 5px;
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 1px 1px antiquewhite;

}

#carouselHeading {
  padding: 5px;
  margin: 0px;
  text-align: center;
  font-weight: 200;
  font-style: normal;
  text-shadow: 1px 1px 1px;

  
}

.card {
  padding: .5em;
  margin: .5em;
  border: 1px solid;
  border-radius: 1px;
  font-weight: 400;
  font-style: normal;
  font-size: medium;
  box-shadow: 10px 5px 5px goldenrod;
}

.all-items-header {
  font-weight: 700;
  font-style: normal;
  font-size: 46px;
}

.all-items-container {
  border: 3px solid;
  border-radius: 5px;
  padding: 25px;
  margin: 15px;
}

.single-product-container {
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  border: 3px solid;
  border-radius: 5px;
  padding: 25px;
  margin: 15px;
}

.small-product-card {
  justify-content: center;
  background-color: white;
  max-height: max-content;
  padding: .5em;
  margin: .5em;
  border: 3px solid;
  border-radius: 3px;
  font-weight: 400;
  font-style: normal;
  font-size: normal;
  box-shadow: 10px 5px 5px goldenrod;
}

.card-body .d-flex .btn {
  margin-right: 50px; /* Adjust margin as needed */
  margin-left: 50px;
}

.card-img-top {
  object-fit: cover;
  border: 2px solid black; /* Adjust border style and color */
  border-radius: 0.25rem; /* Optional rounded corners */
  max-width: 800px; /* Adjust max-width as needed */
}

.cart-container {
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  border: 3px solid;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.cart-card {
  justify-content: center;
  background-color: white;
  max-height: max-content;
  padding: .5em;
  margin: .5em;
  border: 3px solid;
  border-radius: 3px;
  font-weight: 400;
  font-style: normal;
  font-size: normal;
  box-shadow: 10px 5px 5px goldenrod;
}

@media (max-width: 768px) {
  /* Styles for screens smaller than 768px (e.g., phones) */
  .card-img-top {
    max-width: 100%; /* Allow full width on smaller screens */
  }
}

.navbar {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 100;
  justify-content: center;
}
.navbar-nav {
  line-height: 20px; /* Adjust the value as needed */
}

.navbar-nav.me-auto,
.navbar-nav.ms-auto {
  padding: 0; }

.login-form-container {
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  border: 3px solid;
  border-radius: 5px;
  padding: 25px;
  margin: 15px;
  text-align: left;
}

.register-form-container {
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  border: 3px solid;
  border-radius: 5px;
  padding: 25px;
  margin: 15px;
  text-align: left;
}
